*.swp
package-lock.json
.DS_Store

# Python
__pycache__/
.pytest_cache/
.venv/
*.egg-info
.mypy_cache/

# CDK
.cdk.staging/
cdk.out/

# Env and secrets
.env

# Local test scripts
lambda/test_*.py

# Build artifacts
dist/
build/

# Ignore everything in layer/python
layer/python/**

# Keep only your code and requirements file
!layer/python/*.py
!layer/python/requirements.txt

# Re-ignore installed packages that happen to be .py files
layer/python/typing_extensions.py
